Repository rachelJensen/get-fit, pull requests merged in 2021-07, with the labels that each got.

#6 Feature/user info dom manipulation
  src/UserRepository.js
  src/scripts.js
  test/UserRepository-test.js
Labels: JavaScript, feature, refactor

#8 Feature/build api fetch
  src/apiCalls.js
  src/domUpdates.js
  src/scripts.js
Labels: feature

#15 Feature/hydration
  package-lock.json
  package.json
  src/AllTimeHydration.js
  src/DailyHydration.js
  test/AllTimeHydration-test.js
  test/DailyHydration-test.js
Labels: JavaScript, feature

#26 Feature/charts implementation
  dist/index.html
  src/chartDisplays.js
  src/css/styles.css
  src/css/styles.css.map
  src/css/styles.scss
  src/scripts.js
Labels: CSS, HTML, JavaScript, feature

#30 Adjust css in attempt to make charts responsive.
  dist/index.html
  src/chartDisplays.js
  src/css/styles.css
  src/css/styles.css.map
  src/css/styles.scss
  src/scripts.js
Labels: CSS, HTML, JavaScript, bug

#34 Refactor/feature/arrow functions and daily info
  dist/index.html
  src/apiCalls.js
  src/chartDisplays.js
  src/css/styles.css
  src/css/styles.css.map
  src/css/styles.scss
  src/images/friends.png
  src/scripts.js
Labels: HTML, JavaScript, enhancement, feature

#37 Refactor/final touches
  README.md
  src/chartDisplays.js
  src/css/styles.css
  src/css/styles.css.map
  src/css/styles.scss
  src/scripts.js
Labels: CSS, JavaScript

#38 Refactor/refactor methods
  README.md
  src/AllTimeHydration.js
  src/SleepRepository.js
  src/domUpdates.js
  src/scripts.js
  test/AllTimeHydration-test.js
  test/SleepRepository-test.js
Labels: refactor
